@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@responsive {
  .justify-self-center {
    justify-self: center;
  }

  .justify-self-start {
    justify-self: start;
  }

  .justify-self-end {
    justify-self: end;
  }
}
